<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="/static/gambar/favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<title> Artikel Gula Darah | HealtyMe </title>
	</head>

	<body>

		<!-- Start Navbar -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/">HealtyMe<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li><a class="nav-link" href="/pendaftaranonline">Pendaftaran Online</a></li>
						<li><a class="nav-link" href="/antrian">Antrian</a></li>
						<li><a class="nav-link" href="/petunjuk">Petunjuk</a></li>
						<li><a class="nav-link" href="/login">Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Navbar -->

                <!-- Start Artikel -->
                <div class="container isiberita my-5" style="min-height:100vh">
                    <div class="kategoricaption mb-5">
                        <div class="row">
                            <div class="col">
                                <p class="mb-5"><a class="text-decoration-none text-dark" href="../artikel"></a></p>
                                <h3 class="text-center fw-bold judulkategori">Cek Gula Darah</h3>
                                <hr class="mx-auto" style="width:10%; background-color: #3b5d50;">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col text-center">
                                <img class="imgisiberita" src="/static/gambar/cek-gula-darah.jpg">
                                <span class="caption"></span>
                                <div class="mt-3">
                                    <p style="white-space: pre-line;text-align:justify;">
            <strong>Apa itu Cek Gula Darah?</strong>
            Cek gula darah adalah prosedur medis yang bertujuan mengukur kadar gula (glukosa) dalam darah. Caranya dengan mengambil sampel darah dari ujung jari menggunakan alat khusus. 

            Tes ini penting untuk memantau tingkat gula darah dalam tubuh. Terutama bagi pengidap diabetes atau orang yang berisiko mengalami masalah terkait dengan gula darah. 
            
            Masalah tersebut melibatkan sejumlah gangguan kesehatan yang berhubungan dengan kadar glukosa dalam darah seseorang. Misalnya, diabetes, hipoglikemia, hiperglikemia, dan gangguan metabolisme.
            
            Seseorang memiliki kadar gula darah tinggi jika angkanya melebihi 130 miligram per desiliter (mg/dL) sebelum makan atau 180 mg/dL 1-2 jam setelah makan. Gejala biasanya tidak muncul hingga kadar gula lebih dari 250 mg/dL.
            
            <strong>Jenis-jenis Cek Gula Darah</strong>
            Pemeriksaan gula darah terbagi dalam beberapa jenis, yaitu:
            
            <strong>1. Pemeriksaan gula darah sewaktu</strong>
            Dokter akan melakukan prosedur ini pada pasien dengan gejala awal diabetes. Misalnya, sering buang air kecil, sering haus dan minum, sering lapar, dan penurunan bobot tubuh tanpa alasan yang jelas. 

            Pemeriksaan ini menunjukkan hasil yang lebih cepat ketimbang tes lainnya. Kekurangannya, cenderung kurang efektif karena mudah terpengaruh oleh banyak hal, seperti makanan.
            
            Kisaran hasilnya:
            * Normal: Di bawah bawah angka 200 miligram per desiliter (mg/dL).
            * Prediabetes: Di antara 140 hingga 199 mg/dL.
            * Diabetes: Di atas 200 mg/dL. 

            <strong>2. Pemeriksaan gula darah puasa</strong>
            Dokter biasanya melakukan pemeriksaan ini setelah 8–12 jam berpuasa. Selama itu juga pasien hanya boleh minum air putih dan wajib menghindari penggunaan suplemen atau multivitamin, alkohol, dan merokok.

            Kisaran hasilnya:
            * Normal: Di bawah atau sama dengan 99 miligram per desiliter (mg/dL).
            * Prediabetes: Di antara 100 sampai 125 mg/dL.
            * Diabetes: Di atas 126 mg/dL.
            
            <strong>3. Pemeriksaan gula darah 2 jam setelah makan</strong>
            Prosedur ini bertujuan untuk mengetahui sensitivitas hormon insulin dalam mengontrol gula darah. Pemeriksaan ini merupakan pemeriksaan lanjutan setelah cek gula darah puasa.

            Kisaran hasilnya:
            * Bukan pengidap: Di bawah 140 mg/dL.
            * Pengidap diabetes: Di bawah 180 mg/dL.

            <strong>Tes toleransi glukosa oral (TTGO)</strong>
            Pertama-tama, pasien akan berpuasa selama 8 jam sebelum pemeriksaan. Setelah itu, mereka akan meminum cairan glukosa sebanyak 75 miligram. Selanjutnya, dokter akan melakukan pemeriksaan TTGO 2 jam setelahnya.

            Kisaran hasilnya:
            * Normal: Di atas atau sama dengan 140 miligram per desiliter (mg/dL).
            * Prediabetes: Di antara 140 sampai 199 mg/dL.
            * Diabetes: Di atas atau sama dengan 200 mg/dL.
            
            <strong>5. Pemeriksaan hemoglobin A1c</strong>
            Prosedur ini bertujuan untuk mengukur rata-rata kadar gula darah dalam 3 bulan terakhir. Gunanya adalah mengevaluasi efektivitas pengobatan diabetes dan mendiagnosis diabetes melitus.

            Hasilnya akurat dan tidak terpengaruh oleh perubahan kadar gula darah sementara. Dokter tidak dapat melakukan pemeriksaan jika pengidap baru menunjukkan gejala diabetes kurang dari 2 bulan.
            
            Kisaran hasilnya:
            * Normal: Di bawah 5.7 persen.
            * Prediabetes: Di antara 5.7 sampai 6.4 persen.
            * Diabetes: Di atas atau sama dengan 6.5 persen.

            <strong>Tujuan dan Manfaat Cek Gula Darah</strong>
            Salah satu tujuan dan manfaat utama cek gula darah adalah mengetahui kadar gula normal pada pengidap diabetes. Jika terpantau normal, pengidap dapat mengetahui bahwa perawatan yang mereka lakukan berjalan baik. 

            Selain itu, cek gula darah juga sebagai cara mengelola diabetes setiap hari, bahkan setiap jam. Hasilnya dapat membantu pengidap dalam mengatur makanan, aktivitas fisik, dan dosis insulin. 
            
            Dengan melakukan pemantauan, pengidap dapat belajar memprediksi apa saja hal yang dapat memengaruhi kadar gula darah. Itulah alasan pentingnya pemeriksaan gula darah secara teratur. 
            
            Berikut ini manfaat lain dari cek gula darah:
            * Memantau efek obat diabetes pada kadar gula darah.
            * Mengidentifikasi kadar gula darah yang tinggi atau rendah.
            * Melacak kemajuan dalam mencapai tujuan perawatan secara keseluruhan.
            * Mempelajari bagaimana pola makan dan olahraga dapat memengaruhi kadar gula darah. 
            * Memahami bagaimana faktor lain, seperti penyakit atau stres, dapat memengaruhi kadar gula darah. 

            <strong>Manfaat Cek Gula Darah secara Rutin Bagi Penderita Diabetes dan Obesitas</strong>
            Tes gula darah adalah prosedur yang mampu mendiagnosis dan mengontrol penyakit yang berkaitan dengan diabetes dan obesitas. Di bawah ini manfaat cek gula darah rutin bagi kedua pengidap gangguan tersebut:

            * Mengevaluasi keberhasilan pengobatan secara keseluruhan.
            * Memantau gula darah dan meminimalisir risiko komplikasi.
            * Memastikan diagnosis obesitas dan diabetes.
            * Mengetahui pengaruh pola makan dan aktivitas terhadap kadar gula darah.
            * Meninjau efektivitas obat antidiabetes pada kadar gula darah.
            * Mempermudah pemberian atau penyesuaian dosis obat atau insulin.
            * Mengidentifikasi faktor risiko melalui perubahan gaya hidup, seperti pola makan sehat dan aktivitas fisik.

            <strong>Penyakit yang Disebabkan Gula Darah Tinggi</strong>
            Berikut beberapa jenis penyakit akibat tingginya kadar gula darah dalam tubuh:

            * Diabetes tipe 2. Menyebabkan penurunan respons tubuh terhadap insulin, yaitu hormon yang mengatur gula darah.
            * Retinopati diabetik. Gula darah yang tinggi juga bisa memicu rusaknya pembuluh darah mikrovaskular pada retina.
            * Neuropati diabetik. Menyebabkan rusaknya pembuluh darah yang menyuplai oksigen dan nutrisi pada saraf.
            * Penyakit jantung. Tingginya kadar glukosa merusak pembuluh darah, memicu peradangan, dan mengganggu fungsi pembuluh darah.
            * Stroke. Meningkatkan risiko bekuan darah, dan menghambat aliran darah ke otak.
            * Gagal ginjal. Tingginya gula dalam tubuh merusak pembuluh darah di ginjal, mengganggu proses filtrasi, dan merusak jaringan organ.
            * Kerusakan saraf. Kadar glukosa yang tinggi dapat merusak lapisan pelindung saraf, dan mengganggu sinyal serta fungsi normal saraf.
            * Infeksi kulit. Dapat melemahkan sistem kekebalan tubuh dan menciptakan lingkungan yang baik, bagi pertumbuhan bakteri dan jamur kulit.
            * Masalah penglihatan. Gula darah tinggi merusak pembuluh darah di mata, mengganggu aliran darah, dan menyebabkan peradangan.
            * Gangguan sistem kardiovaskular. Tingginya kadar glukosa darah dapat merusak dinding pembuluh darah dan mengakibatkan penumpukan plak arteri.
            * Gangguan sistem pencernaan. Gula darah yang tinggi dapat memicu kerusakan pembuluh darah yang mensuplai darah ke organ-organ pencernaan, dan mengganggu fungsi saraf yang mengatur pencernaan.
           
            <strong>Kapan Waktu yang Tepat untuk Cek Gula Darah?</strong>
            Kapan dan seberapa sering seseorang harus melakukan cek gula darah, tergantung pada jenis diabetes yang dimiliki dan pengobatannya. 

            <strong>1. Diabetes tipe 1</strong>
            Pada pengidap diabetes tipe 1, maka perlu memantau gula darah saat:
            * Sebelum makan atau ngemil.
            * 2 hingga 3 jam setelah makan.
            * Sebelum tidur. 

            <strong>2. Diabetes tipe 2</strong>
            Jika pengidap diabetes tipe 2 menggunakan insulin, dokter mungkin merekomendasikan cek gula darah beberapa kali sehari, tergantung pada jenis dan jumlah insulin yang digunakan. 

            Pemeriksaan dianjurkan sebelum makan dan sebelum tidur, jika kamu melakukan beberapa kali suntikan harian. Selain itu, pengidap perlu melakukan sebelum sarapan, sebelum makan, atau sebelum tidur.
            
            Jika kamu tidak menggunakan insulin untuk mengelola diabetes tipe 2, melainkan hanya dengan pola makan dan olahraga, pengidap tidak perlu melakukan cek gula darah setiap hari. 
            
            <strong>3. Gula darah tinggi</strong>
            Menurut American Diabetes Association (ADA), seseorang harus memeriksa kadar gula darah jika mengidap diabetes dan merasa semakin haus serta keinginan buang air kecil lebih sering. 

            Sebab, tanda tersebut bisa menjadi gejala gula darah tinggi, sekaligus menjadi tanda bahwa kamu mungkin perlu mengubah rencana perawatan. Jika diabetes sudah terkelola dengan baik, tapi gejala masih muncul, mungkin itu pertanda kamu sedang sakit atau sedang stres. 

            Melakukan olahraga dan mengatur asupan karbohidrat dapat membantu menurunkan kadar gula darah. Apabila tidak ada perubahan, sebaiknya temui dokter untuk mendapatkan rekomendasi tentang cara menurunkan gula darah.

            <strong>4. Gula darah rendah</strong>
            ADA juga merekomendasikan agar kamu harus memeriksa kadar gula darah jika merasakan salah satu dari gejala berikut:

            * Tubuh terasa goyah.
            * Berkeringat atau kedinginan.
            * Suasana hati terasa jengkel atau tidak sabar.
            * Bingung.
            * Pusing.
            * Lapar dan mual.
            * Mengantuk.
            * Mati rasa pada bibir atau lidah.
            * Tubuh terasa lemah.
            * Suasana hati sedang marah, keras kepala, atau sedih.
            
            Gejala parah seperti delirium, kejang, atau tidak sadarkan diri bisa menjadi gejala gula darah rendah atau syok insulin. Jika kamu menjalani suntikan insulin setiap hari, tanyakan pada dokter tentang glukagon, yaitu obat resep yang dapat membantu jika kamu mengalami reaksi gula darah rendah yang parah. 
            
            <strong>5. Kehamilan</strong>
            Beberapa ibu hamil mengalami diabetes gestasional. Kondisi tersebut terjadi ketika hormon mengganggu cara tubuh menggunakan insulin. Gangguan ini dapat menyebabkan penumpukan gula di dalam darah. 

            Dokter dapat merekomendasikan ibu hamil untuk cek gula darah secara teratur. Kabar baiknya, diabetes gestasional biasanya hilang setelah melahirkan. Ketahui, ini Kadar Gula Darah yang Normal dalam Tubuh.
            
            <strong>Prosedur Cek Gula Darah</strong>
            Sebelum melakukan cek gula darah, kamu perlu memperhatikan beberapa poin ini:

            <strong>1. Sebelum prosedur</strong>
            * Beri tahu dokter tentang obat yang sedang kamu gunakan, termasuk obat resep, obat bebas resep, dan suplemen herbal. 
            * Berhenti minum obat tertentu atau mengubah dosis obat sebelum melakukan tes untuk sementara. 
            * Hindari stres berat karena dapat menyebabkan peningkatan glukosa darah sementara. 
            * Beri tahu dokter jika baru saja menjalani operasi, mengalami trauma, dan mengidap serangan jantung.

            <strong>2. Saat prosedur</strong>
            * Cuci tangan hingga bersih dan gunakan sarung tangan medis.
            * Nyalakan glukometer dan masukkan strip pengujian ke dalam alat.
            * Pasang jarum steril ke dalam alat, yaitu lancet pen.
            * Bersihkan ujung jari dengan tisu alkohol dan biarkan sampai kering.
            * Pijat ujung jari agar darah terkumpul di area tersebut. Kemudian tusuk dengan lancet pen.
            * Teteskan darah ke strip pada glukometer.
            * Tekan jari dengan tisu alkohol agar perdarahannya berhenti.

            <strong>3. Setelah prosedur</strong>
            Hasil analisis glukosa akan tercatat di glukometer dalam waktu beberapa detik. Rentang normal gula darah seseorang berkisar di bawah 200 miligram per desiliter (mg/dL) dan di atas 70 mg/dL.

            Jika pasien memiliki kadar gula darah yang lebih rendah atau lebih tinggi, dokter akan melakukan metode penanganan yang sesuai. Prosedurnya sesuai dengan kondisi dan intensitas keparahan gangguan.

            <strong>Efek Samping Cek Gula Darah</strong>
            Pemeriksaan gula darah umumnya tidak menimbulkan efek samping yang serius bagi pasien. Kemungkinan efek samping yang bisa saja terjadi, antara lain:
            * Sensasi rasa sakit atau perih di tempat tusukan jarum.
            * Kulit menjadi kemerahan atau membengkak di area tusukan jarum.
            * Bekas luka atau memar kecil pada area tusukan.
            * Gatal atau iritasi di area tusukan.
            * Kelemahan atau pusing akibat respons fisiologis terhadap proses pengambilan darah.
            * Perubahan warna kulit di area tusukan dalam jangka pendek.
            * Reaksi alergi terhadap bahan tertentu dalam alat.
            * Perasaan cemas atau takut.
            * Jarum yang patah atau masalah teknis pada alat perangkat.
            * Infeksi di area tusukan akibat penggunaan alat yang tidak steril.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- End Artikel -->

        <!-- Start Footer -->
		<footer class="footer">
			<div class="container-footer">
			  2023 &copy; Kelompok 4 MSIB5
			</div>
		</footer>
		<!-- End Footer -->