<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="/static/gambar/favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<title> Artikel Kolesterol | HealtyMe </title>
	</head>

	<body>

		<!-- Start Navbar -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/">HealtyMe<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li><a class="nav-link" href="/pendaftaranonline">Pendaftaran Online</a></li>
						<li><a class="nav-link" href="/antrian">Antrian</a></li>
						<li><a class="nav-link" href="/petunjuk">Petunjuk</a></li>
						<li><a class="nav-link" href="/login.">Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Navbar -->

        <!-- Start Artikel -->
        <div class="container isiberita my-5" style="min-height:100vh">
            <div class="kategoricaption mb-5">
                <div class="row">
                    <div class="col">
                        <p class="mb-5"><a class="text-decoration-none text-dark" href="../artikel"></a></p>
                        <h3 class="text-center fw-bold judulkategori">Tes Kolesterol</h3>
                        <hr class="mx-auto" style="width:10%; background-color: #3b5d50;">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <img class="imgisiberita" src="/static/gambar/cek-kolesterol.jpg">
                        <span class="caption"></span>
                        <div class="mt-3">
                            <p style="white-space: pre-line;text-align:justify;">

    <strong>Apa itu Tes Kolesterol?</strong>
    Tes kolesterol yang disebut juga dengan panel lipid atau profil lipid adalah salah satu tes penting yang digunakan untuk mengevaluasi kesehatan seseorang. Profil lipid mengukur kadar lemak dalam darah, termasuk kolesterol dan trigliserida. Pemeriksaan ini memberikan informasi penting tentang risiko penyakit jantung dan pembuluh darah. 

    Pemeriksaan profil lipid adalah tes laboratorium yang dilakukan untuk mengukur kadar lemak dalam darah seseorang. Lemak, termasuk kolesterol dan trigliserida, adalah komponen penting dalam tubuh. 
    
    Kadar lemak yang tinggi dalam darah dapat meningkatkan risiko pembentukan plak di dalam pembuluh darah. Hal ini dapat menyebabkan penyakit jantung koroner, serangan jantung, atau stroke.
    
    Dengan melakukan pemeriksaan profil lipid secara teratur, seseorang dapat mengetahui apakah mereka memiliki kadar lemak yang tinggi dalam darah. Jika hasil pemeriksaan menunjukkan adanya kadar lemak yang tinggi, langkah-langkah pencegahan dan pengobatan yang tepat dapat diambil untuk mengurangi risiko penyakit jantung. 
    
    <strong>Macam-macam Pemeriksaan Kolesterol</strong>
    Tes kolesterol lengkap mencakup penghitungan empat jenis lemak dalam darah, yaitu:
    <strong>1. Total kolesterol</strong>
    Ini adalah jumlah kandungan kolesterol dalam darah.

    <strong>2. Low density lipoprotein (LDL)</strong>
    Disebut juga kolesterol “jahat”. Terlalu banyak kolesterol dalam darah menyebabkan penumpukan timbunan lemak (plak) di arteri (aterosklerosis), yang mengurangi aliran darah. Plak ini terkadang pecah dan dapat menyebabkan serangan jantung atau stroke.

    <strong>3. High density lipoprotein  (HDL)</strong>
    Ini disebut kolesterol “baik” karena membantu membawa kolesterol LDL, sehingga menjaga arteri tetap terbuka dan darah mengalir lebih bebas.

    <strong>4. Trigliserida</strong>
    Trigliserida adalah sejenis lemak dalam darah. Saat makan, tubuh mengubah kalori yang tidak dibutuhkan menjadi trigliserida, yang disimpan dalam sel lemak. Kadar trigliserida yang tinggi dikaitkan dengan beberapa faktor, antara lain kelebihan berat badan, terlalu banyak makan yang manis-manis atau minum terlalu banyak alkohol, merokok, kurang gerak, atau menderita diabetes dengan kadar gula darah yang tinggi.
    
    <strong>Kadar Kolesterol Normal Berdasarkan Usia dan Jenis Kelamin</strong>
    Kadar kolesterol normal memiliki rentang yang berbeda tergantung usia dan jenis kelamin. Berikut klasifikasinya:

    <strong>1. Laki-laki kurang dari 19 tahun </strong>
    * Total kolesterol: <170 mg/dL.
    * LDL: <110 mg/dL.
    * HDL: >45 mg/dL.
    
    <strong>2. Laki-laki lebih dari 20 tahun</strong>
    * Total kolesterol: 125–200 mg/dL
    * LDL: >100 mg/dL
    * HDL:  >40 mg/dL
    
    <strong>3. Perempuan  kurang dari 19 tahun </strong>
    * Total kolesterol:170 mg/dL.
    * LDL: <110mg/dL.
    * HDL: <45 mg/dL.

    <strong>4. Perempuan lebih dari 20 tahun</strong>
    * Total kolesterol: 125–200 mg/dL
    * LDL: <100 mg/dL.
    * HDL: >50 mg/dL.

    <strong>Tujuan dan Manfaat Tes Kolesterol </strong>
    Tujuan dan manfaat tes kolesterol diperlukan untuk mengetahui risiko seseorang terhadap penyakit jantung. Jika tes menunjukkan hasil kolesterol tinggi, kamu dan dokter dapat mengambil langkah-langkah untuk mengatasinya. Pemeriksaan ini bertujuan untuk mengurangi risiko seseorang terkena masalah jantung di kemudian hari. 

    Kolesterol tinggi sering kali tidak menimbulkan gejala. Karenanya, pemeriksaan profil lipid perlu rutin dilakukan untuk memantau kadar kolesterol. Namun, tes ini lebih direkomendasikan untuk orang-orang dengan risiko berikut:
    * Memiliki riwayat keluarga dengan kolesterol tinggi atau pernah terkena serangan jantung.
    * Memiliki berat badan berlebih.
    * Jarang olahraga atau tidak bergerak aktif.
    * Mengidap diabetes.
    * Sering mengonsumsi makanan tidak sehat.
    * Mengonsumsi makanan tinggi lemak jenuh terlalu banyak. 
    * Perokok.
    * Mengidap tekanan darah tinggi.
    * Pria yang berusia di atas 45 tahun atau wanita berusia di atas 55 tahun.
    
    <strong>Waktu yang Tepat Melakukan Tes Kolesterol</strong>
    Kapan harus melakukan tes kolesterol? Menurut U.S. National Heart, Lung and Blood Institute (NHLBI), skrining kolesterol pertama kali bisa kamu lakukan mulai usia 9-11 tahun. Tes kemudian dapat diulang setiap lima tahun sekali. 

    NHLBI merekomendasikan untuk melakukan skrining dengan jenjang berbeda terhadap pria dan wanita berdasarkan usia. Untuk pria berusia 45 tahun ke atas, mereka bisa melakukan skrining setiap 1-2 tahun sekali. Adapun untuk wanita berusia lebih dari 55 tahun juga ditetapkan waktu yang sama. Hal yang membedakan adalah lansia di atas usia 65 tahun karena mereka dianjurkan untuk melakukan skrining setiap tahun.
    
    Jika sudah mengidap penyakit arteri koroner atau hasil profil lipid awal menunjukan kadar kolesterol tinggi, tes kolesterol perlu dilakukan lebih sering. Tes kolesterol juga ditujukan pada pengidap diabetes untuk memantau sejauh mana pengobatan bekerja. 
    
    <strong>Prosedur Tes Kolesterol </strong>
    Berikut ini prosedur yang akan dijalani saat tes kolesterol:
    <strong>1. Sebelum prosedur</strong>
    Apa persiapan yang seharusnya dilakukan pasien pada pemeriksaan profil lipid? Tes kolesterol pada umumnya dilakukan di pagi hari setelah pasien berpuasa semalaman. Berapa lama pasien berpuasa sebelum dilakukan pemeriksaan profil lipid? Biasanya, dokter menyarankan pasien berpuasa selama 9-12 jam sebelum darah diambil.

    Berbagai hal lain yang perlu kamu perhatikan, antara lain:
    * Hindari konsumsi makanan berlemak tinggi di malam hari sebelum tes.
    * Tidak mengonsumsi alkohol sebelum tes.
    * Hindari berolahraga terlalu berlebihan sebelum tes.
    * Tidak mengonsumsi obat-obatan yang bisa memengaruhi hasil tes. 
    * Selama prosedur

    Langkah-langkah pemeriksaan kolesterol, yaitu:
    * Lengan bagian atas akan diikat dengan pengikat elastis. Tujuannya untuk membuat pembuluh darah di bawah ikatan membesar, sehingga petugas mudah menyuntikkan jarum ke dalam pembuluh.
    * Bagian yang akan disuntikkan dibersihkan terlebih dahulu dengan alkohol.
    * Kemudian, darah akan diambil dengan cara menyuntikkan jarum ke pembuluh darah.
    * Ketika jumlah darah yang diambil dirasa sudah cukup, petugas akan melepaskan ikatan dari lengan kamu.
    * Selanjutnya, bagian yang disuntik akan ditempelkan kain kasa atau kapas dan dipasang perban.
    
    Tes kolesterol juga bisa kamu lakukan sendiri dengan alat kolesterol. Walaupun jauh lebih praktis, tetapi hasilnya tidak seakurat tes laboratorium. 

    <strong>2. Setelah prosedur</strong>
    Kadar kolesterol masuk ambang batas tinggi apabila mencapai 200-239 miligram per desiliter. Jika jumlahnya mencapai 240 miligram per desiliter atau lebih termasuk tingkat kolesterol tinggi.

    Jika kamu memiliki kolesterol tinggi, dokter akan merekomendasikan cara untuk menurunkannya. Misalnya dengan mengubah pola makan atau minum obat penurun kolesterol. 

    Selain itu, dokter juga dapat menghitung risiko serangan jantung atau stroke dalam 10 tahun ke depan. Risiko tersebut dapat diketahui dengan menggunakan:
    * Kadar kolesterol.
    * Tekanan darah.
    * Tinggi dan berat badan.
    * Usia, jenis kelamin, dan etnis.
    * Maka itu, penting untuk menurunkan kadar kolesterol untuk membantu menurunkan risiko terkena serangan jantung dan stroke.

    <strong>Cara Mencegah Peningkatan Kadar Kolesterol dalam Tubuh </strong>
    <strong>1. Menerapkan pola makan sehat</strong>
    Ini bisa dilakukan dengan cara meningkatkan konsumsi makanan rendah lemak jenuh dan kolesterol. Contohnya seperti sayuran, buah-buahan, biji-bijian, ikan, dan daging tanpa lemak.
    
    Kamu juga perlu membatasi konsumsi makanan tinggi lemak jenuh dan kolesterol, seperti daging merah berlemak, makanan olahan, mentega, dan makanan cepat saji. Perbanyak konsumsi serat, baik dari sumber nabati maupun hewani, seperti biji-bijian, kacang-kacangan, sayuran hijau, dan buah-buahan.
    
    <strong>2. Lakukan aktivitas fisik secara teratur</strong>
    Lakukan aktivitas aerobik, seperti berjalan cepat, berlari, bersepeda, atau berenang, setidaknya 150 menit per minggu. Jika memungkinkan, tambahkan pula latihan kekuatan untuk memperkuat otot dan tulang.
    
    <strong>3. Menjaga berat badan ideal</strong>
    Mempertahankan berat badan ideal melalui pola makan sehat dan gaya hidup aktif adalah cara untuk menjaga kolesterol tetap berada di ambang normal. Studi berjudul Effects on cardiovascular risk factors of weight losses limited to 5–10 % dalam Translational Behavioral Medicine menyebutkan, pengidap obesitas yang kehilangan 5-10 berat badannya menunjukkan penurunan trigliserida, kolesterol total, dan kolesterol low-density lipoprotein (LDL) yang signifikan.
    
    <strong>4. Hindari merokok dan minum alkohol secara berlebihan</strong>
     Merokok dapat menurunkan kadar kolesterol baik (HDL) dan meningkatkan kadar kolesterol jahat (LDL). Sementara itu, konsumsi alkohol yang berlebihan juga dapat meningkatkan kadar kolesterol dan berisiko terhadap kesehatan jantung.
    
    <strong>5. Membatasi konsumsi lemak trans</strong>
    Lemak trans adalah jenis lemak yang dapat meningkatkan kolesterol LDL (kolesterol jahat) dan menurunkan kolesterol HDL (kolesterol baik). Hindari makanan yang mengandung lemak trans, seperti camilan olahan, kue-kue, dan makanan cepat saji.
    
    <strong>6. Memantau kadar kolesterol</strong> 
    Penting untuk secara rutin memeriksa kadar kolesterol.  Terutama jika kamu sudah pernah mengalami peningkatan kadar kolesterol atau berisiko mengalaminya. Pemeriksaan rutin akan membantu kamu memantau perkembangan dan membuat perubahan dalam gaya hidup atau perawatan medis jika diperlukan.
    
    <strong>7. Menambahkan serat larut</strong>
    Serat larut merupakan jenis serat yang banyak terdapat pada tumbuhan dan biji-bijian. Memprioritaskan biji-bijian dapat membantu menurunkan kadar kolesterol LDL yang berbahaya dan mungkin memiliki efek perlindungan terhadap penyakit kardiovaskular.
    
    <strong>Beberapa sumber serat larut terbaik meliputi:</strong>
    * Sereal gandum.
    * Kacang-kacangan dan lentil.
    * Kubis Brussel.
    * Buah-buahan.
    * Kacang polong.
    * Biji rami</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Artikel -->

        <!-- Start Footer -->
		<footer class="footer">
			<div class="container-footer">
			  2023 &copy; Kelompok 4 MSIB5
			</div>
		</footer>
		<!-- End Footer -->