{% extends 'base.html' %}

{% block title %}HealtyMe - Pendaftaran Online{% endblock %}
{% set navbar = True %}
{% block content %}
<div class="container petunjuk-section">
    <div class="row justify-content-center align-items-center" style="height: 80vh;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body p-xl-5">
                    <h2 class="card-title text-center mb-5">HealtyMe - Pendaftaran Online</h2>
                    <div class="input-group mb-4">
                        <span class="input-group-text w-25" id="basic-addon1">Nama</span>
                        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                            id="inputNama" name="nama" value="{{ nama }}" readonly>
                    </div>
                    <!-- <div class="mb-3">
                            <label for="inputNIK" class="form-label">Nomor NIK</label>
                            <input type="text" class="form-control" id="inputNIK" placeholder="Masukkan nomor NIK Anda">
                        </div> -->
                    <div class="input-group mb-4">
                        <span for="inputDate" class=" input-group-text w-25">Pilih Tanggal</span>
                        <input type="date" class="form-control" id="inputDate" />
                        <!-- <input type="date" class="form-control" id="inputDate" name="tanggal"> -->
                    </div>
                    <div class="input-group mb-4">
                        <label for="inputSession" class="input-group-text w-25">Pilih Sesi</label>
                        <select class="form-select" id="inputSession" name="sesi">
                            <option disabled selected hidden>Choose...</option>
                            <option value="Pagi">Pagi</option>
                            <option value="Siang">Siang</option>
                            <option value="Sore">Sore</option>
                        </select>
                    </div>
                    <div class="mb-4 input-group">
                        <label for="inputMCU" class="input-group-text w-25">Pilihan MCU</label>
                        <select class="form-select" id="inputMCU" name="mcu">
                            <option disabled selected hidden>Choose...</option>
                            {% for checkup in informasi.mcu %}
                            <option value="{{ checkup.nama_mcu }}">{{ checkup.nama_mcu }}</option>
                            {% endfor %}
                            <!--Tambahkan opsi lainnya sesuai kebutuhan-->
                        </select>
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-secondary btn-lg" onclick="daftar()">Daftar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal untuk menampilkan nomor antrian -->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="modalNomorAntrianLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content shadow p-3 mb-5 bg-body-tertiary rounded card">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNomorAntrianLabel">Nomor Antrian Anda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="refreshPage()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding: 8px;">
                <p>Nomor Antrian Anda:</p>
                <h3 class="fw-bold" id="nomorAntrian"></h3>
                <p>Hari <span id="hari"></span>, <span id="tanggal"></span></p>
                <p>Sesi <span id="sesi"></span> Jam <span id="jam"> WIB</span></p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('home') }}">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% set footer = True %}