{% extends 'base.html' %}

{% block title %}HealtyMe - Register{% endblock %}
{% block content %}

    <!-- Registration Form -->
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-4">
                <div class="login-form">
                    <h2 class="logo-text">HealtyMe - Registrasi</h2>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="inputName" placeholder="Masukkan nama Anda" oninput="this.value = this.value.toUpperCase()" name="nama">
                            <label for="floatingInput" >Nama</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="inputNIK" placeholder="Masukkan NIK Anda" name="nik">
                            <label for="floatingInput" >NIK</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="inputGender" name="jenis_kelamin" oninput="this.value = this.value.toUpperCase()">
                                <option disabled selected hidden>Choose...</option>
                                <option value="1">Laki-laki</option>
                                <option value="2">Perempuan</option>
                            </select>
                            <label for="floatingInput" >Jenis Kelamin</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea style="height: 100px" class="form-control" id="inputAddress" rows="3" placeholder="Masukkan alamat Anda" name="alamat" oninput="this.value = this.value.toUpperCase()"></textarea>
                            <label for="floatingInput" >Alamat</label>
                        </div>
                        <button type="submit" class="btn btn-secondary mt-4 login-btn d-block mx-auto" onclick="register()">Registrasi</button>
                        <p class="text-center mt-3">Sudah Punya Akun? <a href="/login" class="register-link">Login</a></p>
                </div></div>
            </div>
    </div>
    <!-- End Registration Form -->
{% endblock %}
